body{
    background: linear-gradient(72.85deg,#D9547B 0%, #F8AD48 100%);
    font-family: 'Roboto', sans-serif;
      }
    

.recherche{
    width: 612px;
    height: 56px;
    background-color: white;
    border-radius: 100px;
    float:right;
    margin-right:32px;
    margin-top:32px;
}

.recherche-btn{
    float:right;
    background-color:black;
    width: 80px;
    height: 32px;
    margin-top: 12px;
    margin-right:12px;
    border-radius: 100px;
}

.recherche-btn p{
    margin-top: 5px;
    color:white;
    text-align: center;
}

.contenu{
    margin-top:106px;
    margin-left:202px;
    color:white;
}

.jour{
    padding-left: 106px;
    padding-top: 202px;
}
.list{
    padding-left: 202px;
    padding-top: 48px;
}
.temp{
    position: absolute;
    padding-left: 27px;
    padding-top: 48px;
}
.lumiere{
    z-index: -1;
    position: absolute;
    padding-left: 48px;
    padding-top: 48px;
}
.nuageux{
    padding-left: 27px;
    padding-top: 48px;
}
.semaine{
    padding-left: 279px;
    padding-top: 110px;
}